.container {
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: transparent;
  z-index: 9999;
}

.containerEmpty {
  flex-grow: 1;
}

.containerMenu {
  flex-grow: 0;
  width: 300px;
  background-color: rgba(0, 128, 145, 0.9);
}

.closeAction {
  height: 126px;
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 10px;
  box-sizing: border-box;
}

.md42 {
  color: #FFF;
  font-size: 42px;
}

.menuActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}
