.sources {
  height: calc(100% -  44px);
	width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.sourcesContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
	flex-wrap: wrap;
}

.sourcesActions {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.sourcesLoading {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  color: #000;
}
