.bookmark {
  width: 25px;
  height: 60px;
  background-color: transparent;
  position: absolute;
  top: 0px;
  right: 18px;
  overflow: hidden;
  cursor: pointer;
  border-left: 2px solid #bdbec0;
  border-right: 2px solid #bdbec0;
}

.center {
  background-color: transparent;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}

.triangleRight {
  transform: rotate(45deg);
  background-color: transparent;
  height: 25px;
  width: 19px;
  right: -13px;
  position: absolute;
  bottom: 2px;
  border-bottom: 2px solid #bdbec0;
}

.triangleLeft {
  transform: rotate(45deg);
  background-color: transparent;
  height: 20px;
  width: 25px;
  left: -16px;
  position: absolute;
  bottom: 6px;
  border-right: 2px solid #bdbec0;
}

.center.selected {
  background-color: #008091;
  border-left: #008091;
  border-right: #008091;
}

.triangleRight.selected {
  border-bottom: #008091;
  background-color: #008091;
}

.triangleLeft.selected {
  border-right: #008091;
  background-color: #008091;
}
