.button {
  border: 1px solid #00947b;
  border-radius: 0px;
  background-color: #00947b;
  padding: 12px 36px;
  font-size: 15px;
  color: #FFF;
  text-transform: uppercase;
  transition: all 0.4s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #006756;
  border: 1px solid #006756;
}

.button:active {
  background-color: #014e41;
  border: 1px solid #014e41;
}

.disabled {
  background-color: #93d0c5;
  border: 1px solid #93d0c5;
  cursor: default;
}

.disabled:hover {
  background-color: #93d0c5;
  border: 1px solid #93d0c5;
}

.nostyle {
  background-color: transparent;
  color: #000;
  border: 0px;
  padding: 0px 0px;
}

.nostyle:hover {
  background-color: transparent;
  color: #000;
  border: 0px;
  padding: 0px 0px;
  opacity: 0.4;
}

.nostyle:active {
  background-color: transparent;
  color: #000;
  border: 0px;
  padding: 0px 0px;
  opacity: 0.4;
}
