@import "~font-awesome/css/font-awesome.css";

* {
  font-family: 'Roboto', Arial;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #F4F4F4;
  font-family: 'Roboto', Arial;
  overflow-y: hidden;
  margin: 10px;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}
